.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 100px;  /* Tamaño fijo para la imagen */
    height: 100px;
    object-fit: cover;
  }